:root {
	--verde: #7AB20D;
	--negro:  #171D0B;
	--rojo: #B11344;
	--azul:  #1333B1;
}

body {
	margin: 0;
	
}

.caja1{
	display: flex;
}

.item1{
	padding: 3px; 
	width: 25%;
	height: 910px;
	background-color: var(--negro);
	
}


p{
	margin: 0;

}

h2{
	text-align: center;
}

.sub1{
	height: 200px;
	margin: 3px;
	padding: 10px;
	background-image: url(img/a.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;

}


.sub2{
	height: 900px;
	color: white;
	text-align: center;
	padding: 12px;
}


.item2{
	
	margin-left: 10px;
	width: 75%;
	height: 900px;
	border-style: solid;
	border-radius: 3px;
	border-color: var(--azul);
	padding: 5px;
}



.item3{

	
	height: 100px;
	background: white;
	margin-top: 5px;
	font-size: 18px;
	text-align: center;
	padding: 15px;

}


@media only screen and (max-width: 700px)
{

.caja1{
	display: block;
}
.item1{
   width: 98%;

}

.item2{
	width: 95%;
	margin: 0;
	height: 1150px;
	margin-left: 2px;
	margin-top: 2px;

}
.item3{

	margin-top: 25px;
}
}